<!DOCTYPE html>
<html>
  <head>
    <title>Tv shows are lit</title>
  </head>
  <body> 
  <h3> Here are your result:</h3>
  <%= "your name is #{params[:name]} and you love #{params[:favorite_show]}" %>
  </body>
  
  </html>



