<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite shows</title>
  </head>
  <body>
    <h1>Favorite shows</h1>
    <img src="https://i.ytimg.com/vi/L_nyC8dx8H4/hqdefault.jpg">
    <!-- Insert Your Form Below -->
 
 <form method="POST" action="/shows">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Your Favorite show: <input type="text" name="favorite_show"></p>
  <input type="submit">
</form>
 
 
  </body> 
  
  
  
  
</html>

