<!DOCTYPE html>
<html>
  <head> woman-up
    <title> Woman Up! </title>
  </head>
  <body> 
  </body>
</html>


<link rel="stylesheet" type="text/css" href="public/style.css">
   <ul>
  <a href="events.erb">Events</a>
  <a href="programs.erb">Programs</a>
  <a href="resources.erb">Resources</a>
</ul>
 *linked the index with the other html pages
*Linked html with css



